@use 'basic';

@use 'styles/text';
@use 'styles/colors';

@use 'components/logo';
@use 'components/navbar';
@use 'components/sidepanel';

@use '../node_modules/highlight.js/scss/darcula.scss';

/* Main */

body {
    width: 100%;
    min-width: min-content;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.main-container {
    width: 100%;
    flex: 1;

    display: flex;
    
    @media screen and (max-width: 1024px) {
        align-items: center;
    }
}

.content-container {
    min-width: 0px;
    max-width: 784px;
    flex: 1;

    padding: 0px 35px 20px 35px;

    @media screen and (max-width: 720px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}