//Webpage
$background: #222222;

//Navigation bar
$navbar-background: #2B2B2B;
$navbar-border: #555555;

$navbar-button: #969696;
$navbar-button-hover: #bfbfbf;
$navbar-button-active: #cecece;
$navbar-button-disabled: #696969;

//Search-box
$search-box: #999999;
$search-box-border: #111111;
$search-box-background: #222222;
$search-box-placeholder: #555555;