<nav class="navbar">
    <!-- LIKO-12's Logo -->
    <dev class="navbar-logo">
        <a href="{{rootPath}}">
            <img src="{{rootPath}}assets/img/logo-icon.svg" class="logo-icon">
            <img src="{{rootPath}}assets/img/logo-title.svg" class="logo-title">
        </a>
        <dev class="mobile-spacer"></dev>
        <button class="mobile-toggle"></button>

        <script>
            const navbarElement = document.querySelector(".navbar");
            const toggleButton = document.querySelector(".navbar .mobile-toggle");
            toggleButton.onclick = () => navbarElement.classList.toggle("active");
        </script>
    </dev>

    <!-- Naviagtion links -->
    {{#navbar.links}}
    {{^disabled}}<a href="{{href}}" class="link{{#active}} active{{/active}}">{{name}}</a>{{/disabled}}
    {{#disabled}}<button class="link" disabled>{{name}}</button>{{/disabled}}
    {{/navbar.links}}

    <!-- Spacer -->
    <dev class="spacer"></dev>

    <!-- Search box -->
    <input type="text" class="search-box" placeholder="Search documentation" autocomplete>
</nav>