@use 'fonts';

@use 'styles/text';
@use 'styles/colors';

@use 'components/logo';
@use 'components/navbar';
@use 'components/markdown';
@use 'components/sidepanel';


@use '../../node_modules/highlight.js/scss/darcula.scss';

/* Main */

*::-webkit-scrollbar-track {
    background-color: #444444;
}

*::-webkit-scrollbar-thumb {
    background-color: #111111;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    color: #aeaeae;
    scrollbar-color: #444444 #111111;

    background: colors.$background;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-container {
    width: 100%;

    flex: 1;

    display: flex;
}
