<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="The WIP new website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LIKO-12</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar">
        <!-- LIKO-12's Logo -->
        <dev class="navbar-logo">
            <img src="img/logo-icon.svg" class="logo-icon">
            <img src="img/logo-title.svg" class="logo-title">

            <dev class="mobile-spacer"></dev>
            <button class="mobile-toggle"></button>

            <script>
                const navbarElement = document.querySelector(".navbar");
                const toggleButton = document.querySelector(".navbar .mobile-toggle");
                toggleButton.onclick = () => navbarElement.classList.toggle("active");
            </script>
        </dev>

        <!-- Naviagtion links -->
        <a href="" class="active">Home</a>
        <a href="">Guide</a>
        <a href="">Reference</a>
        <a href="">Community</a>
        <a href="">Blog</a>

        <!-- Spacer -->
        <dev class="spacer"></dev>

        <!-- Search box -->
        <input type="text" class="search-box" placeholder="Search documentation" autocomplete>
    </nav>

    <div class="main-container">
        <nav class="side-panel">
            Hello side panel!
        </nav>

        <article class="content-container">
            {{{markdown}}}
        </article>

        
    </div>

</body>
</html>