<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{#description}}<meta name="description" content="{{.}}">{{/description}}
    {{#keywords}}<meta name="keywords" content="{{.}}">{{/keywords}}
    {{#author}}<meta name="author" content="{{.}}">{{/author}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{window_title}} | LIKO-12</title>

    <link rel="shortcut icon" href="{{rootPath}}favicon.ico">
    <link rel="stylesheet" href="{{rootPath}}assets/css/normalize.css">
    <link rel="stylesheet" href="{{rootPath}}assets/css/main.css">
</head>

<body>
    {{> navbar}}

    <div class="main-container">
        {{> sidepanel}}

        <article class="content-container">
            {{#title}}<h1>{{.}}</h1>{{/title}}

            {{{content}}}
        </article>
    </div>
</body>

</html>